<div class="registration-page">
    <h2 class="mat-typography">sign up</h2>
    <p>Already have an account? <a routerLink="/signin">sign in</a></p>
    <form [formGroup]="registrationForm">
        <div class="justify-content-center">
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Email address</mat-label>
                    <input matInput formControlName="email">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Username</mat-label>
                    <input matInput formControlName="username">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>First name</mat-label>
                    <input matInput formControlName="firstname">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Last name</mat-label>
                    <input matInput formControlName="lastname">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input type="password" matInput formControlName="password">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Confirm password</mat-label>
                    <input type="password" matInput formControlName="confirmPassword">
                </mat-form-field>
            </div>
            <div>
                <button style="width: 5rem" [disabled]="registrationForm.invalid" (click)="submitForm()" mat-flat-button
                        color="primary" type="submit">
                    Sign up
                </button>
            </div>
        </div>
    </form>
</div>
